{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'style/rates.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
        <section class="rates">
            <div class="rates-block">
                <div class="rates-block_title">
                    <h1>Стартовый</h1>
                </div>
                <div class="rates-block_main">
                    <div class="rates-block_desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo vel orci porta. Lectus urna duis convallis convallis tellus id interdum.</p>
                    </div>
                    <div class="rates-block_adv">
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                    </div>
                </div>
                <div class="rates-block_button">
                    <a>Выбрать</a>
                </div>
            </div>
            <div class="rates-block">
                <div class="rates-block_title">
                    <h1>Стартовый</h1>
                </div>
                <div class="rates-block_main">
                    <div class="rates-block_desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo vel orci porta. Lectus urna duis convallis convallis tellus id interdum.</p>
                    </div>
                    <div class="rates-block_adv">
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                    </div>
                </div>
                <div class="rates-block_button">
                    <a>Выбрать</a>
                </div>
            </div>
            <div class="rates-block">
                <div class="rates-block_title">
                    <h1>Стартовый</h1>
                </div>
                <div class="rates-block_main">
                    <div class="rates-block_desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo vel orci porta. Lectus urna duis convallis convallis tellus id interdum.</p>
                    </div>
                    <div class="rates-block_adv">
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                        <div class="rates-block_adv_elem">
                            <img src="/static/img/check-mark.png">
                            <p>Преимущество</p>
                        </div>
                    </div>
                </div>
                <div class="rates-block_button">
                    <a>Выбрать</a>
                </div>
            </div>
        </section>
{% endblock %}

