<!DOCTYPE html>
<html>
<head>
    <title>Ваш ПИН код для входа</title>
</head>
<body>
<p>
    Здравствуйте!
<br><br>
Вы указали адрес {{ email }} в качестве логина на FRIENDSGAME. Для подтверждения ввода пароля и входа в учетную запись введите этот код:
<br><br>
{{ code }}
<br><br>
    Код действителен в течение следующих 20 минут.
<br><br><br>
Если вы не пытались войти в учетную запись на FRIENDSGAME, но получили код, свяжитесь со службой поддержки: info@atgbest.eu
<br><br>
С заботой о безопасности Вашего аккаунта,
команда FRIENDSGAME, компания ATG BEST INC s.r.o.
</p>
<img src="https://friendsgame.ru/static/img/qr.png" alt="QR код" width="120px"/>
</body>
</html>