<!DOCTYPE html>
<html>
<head>
    <title>Ваш логин и пароль на Friends Game</title>
</head>
<body>
<p>
    Здравствуйте!
Дорогой клиент,
<br><br>
Ваша учетная запись была успешно создана с использованием данных которые вы указали.
<br><br>
Пожалуйста, нажмите ссылку ниже, чтобы активировать свою учетную запись. Эта ссылка будет действительна только в течение 1 дня с даты регистрации.
<br><br>
<a href="https://{{ url }}">Активировать аккаунт</a>
<br><br>
Если ссылка не работает, скопируйте ссылку ниже в свой веб-браузер и активируйте учетную запись.
https://{{ url }}
<br><br>
Спасибо.
</p>
<img src="https://friendsgame.ru/static/img/qr.png" alt="QR код" width="120px"/>
</body>
</html>